<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>

    <h1>All the cats</h1>
    <!-- Loop for iterating arrays to be rendered. -->
    <ul>
        <%for (let cat of cats) { %>
            <Li><%= cat %></Li>
            <% } %>
    </ul>

</body>
</html>