<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, deserunt quasi quod quibusdam illum temporibus in quos cumque praesentium dolorum porro ut sit culpa ratione iure possimus vitae rem corrupti?

    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo officiis unde sint nulla, tempora ab ad et assumenda id aperiam amet nisi recusandae, iure ipsum perferendis eveniet adipisci beatae omnis.
        
    </p>
</body>
</html>